<h2> TopQ Rentals </h2>

<p> Here we are all about quality and affordability.
   For all your residential, business and leisure housing needs, welcome to TopQ Rentals.
   Sellers are also able to list their properties here for viewing by the potential tenants and buyers</p>
   {{outlet}}

   {{#link-to 'contact'}} Contacts{{/link-to}} 
   {{#link-to 'index'}} Home{{/link-to}}
