<h2> Talk to us </h2>

We would be glad to hear from you through the following channels:

<li>E-mail: firifous@yahoo.com</li>
<li>Tel: (+254)0724</li>
         <li>(+254)0738</li>

         {{#link-to 'about'}}About{{/link-to}}
         {{#link-to 'index'}} Home{{/link-to}}
